[fields]
valid_ins = { default = "0", width = 1 }
will_write = { default = "0", width = 1 }
write_mux = { default = "000", width = 3 }
alu_use_imm = { default = "X", width = 1 }
alu_compare_unsigned = { default = "X", width = 1 }
pc_mode = { default = "00", width = 2 }
is_store = { default = "0", width = 1 }
is_load = { default = "0", width = 1 }
mul_extend = { default = "XX", width = 2 }
mul_shifter = { default = "X", width = 1}
div_mux = { default = "XX", width = 2 }

[lui]
encoding = "xxx_01101"

[[lui.code]]
valid_ins = "1"
will_write = "1"
write_mux = "000"

[auipc]
encoding = "xxx_00101"

[[auipc.code]]
valid_ins = "1"
will_write = "1"
write_mux = "001"

[alu]
encoding = "xxx_01100"

[[alu.code]]
valid_ins = "1"
will_write = "1"
write_mux = "010"
alu_use_imm = "0"
alu_compare_unsigned = "0"

[sltu]
encoding = "011_01100"

[[sltu.code]]
alu_compare_unsigned = "1"

[alui]
encoding = "xxx_00100"

[[alui.code]]
valid_ins = "1"
will_write = "1"
write_mux = "010"
alu_use_imm = "1"
alu_compare_unsigned = "0"

[sltiu]
encoding = "011_00100"

[[sltiu.code]]
alu_compare_unsigned = "1"

[srl]
encoding = "101_01100"

[[srl.code]]
will_write = "1"
write_mux = "111"
alu_use_imm = "0"
mul_shifter = "1"

[sll]
encoding = "001_01100"

[[sll.code]]
will_write = "1"
write_mux = "110"
alu_use_imm = "0"
mul_shifter = "1"

[srli]
encoding = "101_00100"

[[srli.code]]
will_write = "1"
write_mux = "111"
alu_use_imm = "1"
mul_shifter = "1"

[slli]
encoding = "001_00100"

[[slli.code]]
will_write = "1"
write_mux = "110"
alu_use_imm = "1"
mul_shifter = "1"

[jalr]
encoding = "xxx_11001"

[[jalr.code]]
valid_ins = "1"
will_write = "1"
write_mux = "100"
pc_mode = "11"


[jal]
encoding = "xxx_11011"

[[jal.code]]
valid_ins = "1"
will_write = "1"
write_mux = "100"
pc_mode = "10"


[branch]
encoding = "xxx_11000"

[[branch.code]]
valid_ins = "1"
pc_mode = "01"
alu_compare_unsigned = "0"


[branch_u]
encoding = "11x_11000"

[[branch_u.code]]
valid_ins = "1"
alu_compare_unsigned = "1"

[load]
encoding = "xxx_00000"

[[load.code]]
valid_ins = "1"
is_load = "1"
will_write = "1"
write_mux = "101"

[store]
encoding = "xxx_01000"

[[store.code]]
valid_ins = "1"
is_store = "1"

[mul]
encoding = "000_11101" # Remapped opcode from OP-VE

[[mul.code]]
valid_ins = "1"
will_write = "1"
write_mux = "110"
mul_shifter = "0"

[mulh]
encoding = "001_11101" # Remapped opcode from OP-VE

[[mulh.code]]
valid_ins = "1"
will_write = "1"
write_mux = "111"
mul_extend = "11"
mul_shifter = "0"

[mulhsu]
encoding = "010_11101" # Remapped opcode from OP-VE

[[mulhsu.code]]
valid_ins = "1"
will_write = "1"
write_mux = "111"
mul_extend = "01"
mul_shifter = "0"

[mulhu]
encoding = "011_11101" # Remapped opcode from OP-VE

[[mulhu.code]]
valid_ins = "1"
will_write = "1"
write_mux = "111"
mul_extend = "00"
mul_shifter = "0"

[divu]
encoding = "101_11101" # Remapped opcode from mul to OP-VE

[[divu.code]]
valid_ins = "1"
will_write = "1"
write_mux = "011"
div_mux = "01"

[remu]
encoding = "111_11101" # Remapped opcode from mul to OP-VE

[[remu.code]]
valid_ins = "1"
will_write = "1"
write_mux = "011"
div_mux = "00"

[rem]
encoding = "110_11101" # Remapped opcode from mul to OP-VE

[[rem.code]]
valid_ins = "1"
will_write = "1"
write_mux = "011"
div_mux = "10"

[div]
encoding = "100_11101" # Remapped opcode from mul to OP-VE

[[div.code]]
valid_ins = "1"
will_write = "1"
write_mux = "011"
div_mux = "11"

[fence] # Fence must be valid
encoding = "00x_00011"

[[fence.code]]
valid_ins = "1"