IO_LOC "clk_i" 52;
IO_LOC "rstn_i" 4;

IO_LOC "led_o[0]" 10;
IO_LOC "led_o[1]" 11;
IO_LOC "led_o[2]" 13;
IO_LOC "led_o[3]" 14;
IO_LOC "led_o[4]" 15;
IO_LOC "led_o[5]" 16;
IO_LOC "uart_tx_o" 17;
IO_LOC "uart_rx_i" 18;
IO_LOC "key" 3;

IO_LOC "tmds_d_p[0]" 71;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[0]" 70;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[1]" 72;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_n[2]" 74;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_n" 68;
IO_PORT "tmds_clk_n" PULL_MODE=NONE DRIVE=8;

INS_LOC "clk_div" TOPSIDE[0]; 
